/* Fichier CSS pour mon CV */

/*
* { 
border: thin dashed black;
} 
   */ 
    
body {
    
    max-width: 100%;
    margin: 0;
    padding: 0;
 background-size: 100%;
 background-color: rgb(255,255,255);
 border: thin dashed green;


}

* {
    box-sizing:border-box;  
/*    border: transparent solid;*/

}




header {
    
    background-image: url(./images/concrete_seamless.png);
    min-height: 200px;
    text-align: center;
    box-sizing:border-box;
    border: thin dashed blue

}


.photo {
    
    position: absolute;
    top: 25px;
    left: 35px;
    border: thin black solid;
    height: 156px;

    
}




main {
    
    background-image: url(./images/halftone.png);    
    margin: auto;
    /*width: 90%;*/
    box-sizing:border-box;
    border: thin dashed red;
}


.container :after {
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
} 
            
            



footer {
    
    background-image: url(./images/footer_lodyas.png);
    box-sizing:border-box;
    border: thin black dashed;



}

h1  {
    
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 130px;
    font-family: 'Lobster Two', cursive;
}

h1 {
    
    color: #32c896;

    font-weight: bold;
    font-style: normal;
    font-size: 2.7em;
    margin-right: auto;
    align-content: center;
}


.conteneur  {
    padding : 10px;
    margin : 15px;

} 

/*[class*="col-"]*/


.colonne {
  
    margin-top: 75px;
    vertical-align: top;
    min-height: 400px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1em;
    line-height: 2;
    font-weight: 600;
    color: darkslategray;
    text-align: left;
    padding-right: 15px;
    box-sizing:border-box;

}





h2 {
    padding: 20px 0 40px 0;
    color: rgba(50,200,150,1);
    vertical-align : central;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.7em;
    
}





.contact {
    

    text-align: left;

    padding: 30px 120px 40px 20px;
    font-size: 1em;
    font-style: italic;


    color: antiquewhite;

    font-family: 'Lora', serif; 
}




.formulaire {
    
    display: inline-block;
    font-family: 'Lora', serif;    
    text-align: left;
    font-size:0.9em;
}

.formulaire fieldset {
        color: black;
}


.formulaire > fieldset > label {

    color: antiquewhite;
    font-weight: lighter;

}

#message {
    
    height: 100px;
    
}



#bouton {
    color: black;
}

.carte {



  text-align: right;








}

.carte > iframe{
    
    margin-top: 50px;
    width: 100%;
    right: 01%;
    padding: 15px;
    vertical-align: center;
    
}




/*MEDIA QUERIES PORTFOLIO*/


iframe  {
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

#info {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;              
    background:#fcf8e3;
    border:1px solid  #fbeed5;
    width:95%;
/*    max-width:900px;*/
    margin:0 auto 40px auto;
    font-family:arial;
    font-size:12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

}

    #info .info-wrapper {
        padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    }
    
    #info a {
        color:#c09853;
        text-decoration:none;
    }
    
    #info p {
        margin:5px 0 0 0;
    }


.container  { 
    margin-bottom: 40px;
    position: relative; 
    width: 960px; 
    margin: 0 auto; 
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  
      box-sizing:border-box;

}
 
#filters {
    margin: 35px 10px 25px 10px;
    list-style:none;
}

    #filters li {
        float:left;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.3em;
        
    }
    
    #filters li span {
        display: block;
        padding:5px 20px;       
        text-decoration:none;
        color:#666;
        cursor: pointer;
        border: thin solid transparent;
        border-radius: 5%;
        margin-left: 5px;
    }
    
    #filters li span.active {
        background: #32c896;
        color:#fff;
    }
 

 
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 40px;


}

    .portfolio-wrapper {
        overflow:hidden;
        position: relative !important;
        background: #666;
        cursor:pointer;

    }

    .portfolio img {
        max-width:100%;
        position: relative;
        border: 4px solid #32c896;
        
    }
    
    .portfolio .label {
        position: absolute;
        width: 100%;
        height:40px;
        bottom:-40px;
    }

        .portfolio .label-bg {

            background: #32c896;
            width: 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
        }
    
        .portfolio .label-text {
            color:#fff;
            position: relative;
            z-index:500;
            padding:5px 8px;
        }
            
            .portfolio .text-category {
                display:block;
                font-size:9px;
            }



/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container, conteneur {
        width: 768px; 
    }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container, conteneur{ 
        width: 95%; 
    }
    
    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       

    #ads {
        display:none;
    }
    
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container, conteneur{
        width: 70%;
    }
    
    #ads {
        display:none;
    }
    
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
